@import url();

body{
    background-color: black;
    font-family: 'Roboto',sans-serif;
    padding: 40px 10px 40px 10px ;
}

p{
    background-color: rgb(211, 178, 46);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 100px;
    color: blue;
    margin: 30% 10% 5% 30%;
    height: 100px;
    width: 400px;
    }